<h1>Showing the article</h1>

<p> Title: <%= @article.title %>  </p>
<p> Desciption: <%= @article.description %>  </p>

<%= link_to "edit" , edit_article_path(@article)%> |
<%= link_to "back" , articles_path%>