
.text-center{
	text-align: center;
}
.home{
	margin-top: 70px;
}
h1.logo{
	margin: auto;
	width: 300px;
	background-image: asset-url('logo-yoda.png');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 100px;
	margin-bottom: 30px

}
p.btn-holder{
	margin-top: 65px;
	width: 100%;
	text-align: center;;
}
footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top:1px solid #eaeaea;
	color: #777;
}

div.btn-holder{
	border-top: 1px solid #eaeaea;
	padding-top: 5px; 
}

div.box{
	border: 1px solid #DEDEDE;
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: inline-block;
    margin: 0 20px 20px 0;
    box-shadow: 0px 5px 15px #DEDEDE;
}
div.box .well-lg{
	padding: 24px;
    border-radius: 6px;
    height: 250px;
    /* line-height: 250px; */
    position: relative;
    

}
div.box div.article-title{
	margin-bottom: 35px;
	font-size: bold;
	font-size: 1.5em;
}
div.box div.article-body{
	
	word-wrap: break-word;
	
}
div.box .btn-holder{

    position: absolute;
    bottom: 7px;
    left: 7px;
}

div.article-meta-details{
	border: 1px solid #eaeaea;

}

div.article-meta-details span{
	display: block;
}
div.card{
	margin-top: 30px;
    text-align: center;
}

div.info{
	width: 100%;
    text-align: left;
    padding: 20px 0px 0px 35px;
}


$navbar-default-bg: #264D73;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #4080BF;
$navbar-default-toggle-hover-bg: #336699;
$navbar-default-link-hover-color: #79A6D2;

@import "bootstrap-sprockets";
@import "bootstrap";
